<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463340117736-g3usiqeputfuurbtf40bj7nrhh0dtmt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463340117736-g3usiqeputfuurbtf40bj7nrhh0dtmt6</string>
	<key>API_KEY</key>
	<string>AIzaSyBOCDGBWw0I3pOJVPA4GNIX-Pefr3EfvlE</string>
	<key>GCM_SENDER_ID</key>
	<string>463340117736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aisenur.letsMeet</string>
	<key>PROJECT_ID</key>
	<string>letsmeet-de4f9</string>
	<key>STORAGE_BUCKET</key>
	<string>letsmeet-de4f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463340117736:ios:5caaedc8f9439a1432f35d</string>
	<key>DATABASE_URL</key>
	<string>https://letsmeet-de4f9.firebaseio.com</string>
</dict>
</plist>